@charset "UTF-8";
* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

a {
  text-decoration: none;
  color: #b3acac;
  font-weight: bold;
  font-family: "Lobster";
  transition: color; }

a:hover {
  color: #920000; }

@media only screen and (min-width: 1024px) {
  .classNavUl {
    list-style-type: none;
    position: relative;
    top: -30px;
    left: -5px !important;
    margin-left: 450px;
    padding: 0px;
    display: flex;
    justify-content: center !important;
    display: inline-block !important; }
  .classNavLi {
    font-size: 30px;
    color: #b3acac;
    list-style: none;
    padding: 10px;
    margin-top: 10px !important;
    display: inline-block !important;
    display: flex;
    justify-content: center; }
  .header--position {
    background-color: black;
    height: 110px;
    width: 100%;
    border-bottom: 5px solid white; }
  .div_img--border {
    margin: -7px 0px 5px 660px;
    border-radius: 300px !important;
    width: 7%; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .classNavUl {
    list-style-type: none;
    margin: 0px !important;
    position: relative;
    top: -20px;
    padding: 0px;
    display: flex;
    justify-content: center !important; }
  .classNavLi {
    font-size: 18px !important;
    color: #b3acac;
    list-style: none;
    padding: 10px;
    margin: 10px 0px 0px 0px; }
  .header--position {
    background-color: black;
    height: 110px;
    width: 100%;
    top: 0; }
  .div_img--border {
    margin: 5px 0px 5px 150px;
    border-radius: 5px !important;
    height: 50px; } }

.parallax, .main_section {
  background-image: url("../assets/img/cerveza10.b.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.main_section {
  height: 610px !important;
  width: 99% !important;
  border: 4px solid black !important;
  margin-left: 7px !important;
  margin-top: 6px; }

* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .main_section--titulos {
    font-size: 20px;
    color: #920000;
    font-weight: bold;
    font-family: "Arvo" !important;
    display: flex;
    align-items: center; }
  h2 {
    margin: auto;
    margin-top: 5px; }
  .main_div--parrafopresentacion {
    font-family: "IM Fell DW Pica", serif;
    font-size: 20px;
    margin: 5px 10px 5px 0px;
    flex-wrap: wrap; }
  .main_section {
    background-image: url("../assets/img/buzo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    widht: 100%;
    height: 400px;
    margin: 0% !important;
    border: 2px solid black !important; }
  .main_section--iframe {
    display: flex;
    justify-content: center;
    margin-left: -1px;
    margin-right: -1px; } }

@media only screen and (min-width: 1024px) {
  .main_section--titulos {
    font-size: 50px;
    color: #920000;
    font-weight: bold;
    font-family: "Lobster";
    display: flex;
    align-items: center; }
  h2 {
    margin: auto;
    margin-top: 15px; }
  .main_div--parrafopresentacion {
    font-family: "IM Fell DW Pica", serif;
    font-weight: bold;
    font-size: 30px; }
  .main_section {
    background-image: url("../assets/img/buzo.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 640px !important;
    width: 100% !important;
    margin: 0px !important;
    border: 0px !important;
    border-bottom: 2px solid black !important;
    border-right: 4px solid black !important;
    margin-left: -4px !important;
    margin-top: 5px !important; }
  .main_section--iframe {
    margin-left: -15px !important;
    display: flex;
    justify-content: center;
    background-image: url("../assets/img/fondocarta.jpg");
    transform: skewX(0deg) !important;
    transition: margin 3s; }
  .main_section--iframe:hover {
    margin: 50px; } }

@media only screen and (min-width: 1024px) {
  .section_img--decoracion {
    margin: 10px;
    width: 450px;
    height: 503px;
    list-style-type: none;
    border: solid black 5px;
    transition: border; }
  .section_img--decoracion:hover {
    border: solid 10px #6b0505;
    border-radius: 10px; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .section_img--decoracion {
    width: 90%;
    height: 300px;
    margin-left: -15px !important;
    list-style-type: none;
    border: solid black 1px;
    margin: 5px !important; }
  .section_img--decoracion:hover {
    border: solid 10px #6b0505;
    border-radius: 10px; } }

@media only screen and (min-width: 1024px) {
  .div_h3--decoracion {
    font-size: 40px;
    color: #920000;
    font-weight: bold;
    font-family: "IM Fell DW Pica";
    display: flex;
    justify-content: center;
    margin-left: -10px !important; }
  .div_text--decoracion {
    text-align: center;
    width: 70%;
    margin-left: 250px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    font-family: "Lobster";
    border-radius: 200px;
    background-color: grey; }
  @keyframes sucursales {
    0% {
      width: 100%; }
    50% {
      transform: rotateY(50deg); }
    100% {
      width: 100%; } }
  .div_img--posicion {
    border: solid black 5px;
    border-radius: 250px;
    background-image: url("../assets/img/fondonegro.jpg");
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 10px;
    animation-name: sucursales;
    animation-duration: 2s !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in;
    margin-left: -20px !important; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .div_h3--decoracion {
    font-size: 20px;
    color: #920000;
    font-weight: bold;
    font-family: "IM Fell DW Pica";
    display: flex;
    justify-content: flex-start;
    margin: 5px; }
  .div_text--decoracion {
    margin-left: 50px;
    width: 70%;
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-family: "Lobster";
    border-radius: 20px !important;
    background-color: grey;
    text-align: center; }
  @keyframes sucursales {
    0% {
      width: 100%; }
    50% {
      transform: rotateY(50deg); }
    100% {
      width: 100%; } }
  .div_img--posicion {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin-left: -272px !important;
    animation-name: sucursales;
    animation-duration: 2s !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in; } }

@media only screen and (min-width: 1024px) {
  @keyframes desaparecer {
    0% {
      opacity: 100%; }
    50% {
      opacity: 0%; }
    100% {
      opacity: 100%; } }
  .div_img--medidas {
    background-image: url("../assets/img/cartab.jpg");
    height: 610px;
    text-align: center;
    border-bottom: 10px solid black;
    background-color: black;
    border-radius: 150px !important;
    animation-name: desaparecer;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    margin-top: 5px; }
  .div_texto--tipografia {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 50px;
    color: #920000;
    font-weight: bold;
    font-family: "Ewert";
    margin: 20px;
    border-color: black; }
  .tabla_texto--estilo {
    font-family: "IM Fell DW Pica";
    font-weight: bold;
    font-size: 20px;
    color: white;
    transition: color; }
  .tabla_texto--estilo:hover {
    color: #ffc400; }
  .tabla_acotación--posicion {
    display: flex;
    justify-content: center;
    color: #920000;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: bold; }
  table {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    background-image: url("../assets/img/fondocarta.jpg"); }
  .div_piepagina--estilos {
    text-align: center;
    margin: 15px;
    color: red;
    font-family: "IM Fell DW Pica";
    background-color: black;
    border-radius: 10px;
    font-size: 20px; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  @keyframes desaparecer {
    0% {
      opacity: 100%; }
    50% {
      opacity: 0%; }
    100% {
      opacity: 100%; } }
  .div_img--medidas {
    background-image: url("../assets/img/cartab.jpg");
    height: 610px;
    text-align: center;
    border-bottom: 10px solid black;
    background-color: black;
    border-radius: 150px !important;
    animation-name: desaparecer;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in; }
  .div_texto--tipografia {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 30px;
    color: #920000;
    font-weight: bold;
    font-family: "Ewert";
    margin-bottom: 2px;
    border-color: black; }
  .tabla_texto--estilo {
    font-family: "IM Fell DW Pica";
    font-weight: bold;
    font-size: 10px;
    color: white;
    width: 100%; }
  .tabla_acotación--posicion {
    display: flex;
    justify-content: center;
    color: #920000;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: bold; }
  table {
    display: flex;
    justify-content: center;
    background-image: url("../assets/img/fondocarta.jpg");
    border-radius: 5px; }
  .div_piepagina--estilos {
    text-align: center;
    color: red;
    font-family: "IM Fell DW Pica";
    background-color: black;
    border-radius: 10px;
    font-size: 10px;
    width: 100%;
    margin-bottom: 5px; } }

@media only screen and (min-width: 1024px) {
  .main_h1--tipografia {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
    font-family: "Lobster";
    padding: 20px;
    background-image: linear-gradient(to left, #fff022, orangered);
    transition: font-size;
    margin-top: 5px; }
  .main_sesion--form {
    padding: 20px;
    background-image: url("../assets/img/fondonegro.jpg");
    background-repeat: repeat;
    font-family: "Im Fell DW Pica";
    color: white;
    font-size: 25px;
    text-align: center; }
  input,
  textarea,
  select {
    text-align: center;
    font-family: "IM Fell";
    font-weight: 10px;
    border-radius: 20px;
    background-color: #a12222; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .main_h1--tipografia {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: left;
    font-family: "Lobster";
    padding: 20px;
    background-image: linear-gradient(to left, #fff022, orangered);
    width: 90%;
    margin-top: 5px; }
  .main_sesion--form {
    text-align: left;
    padding: 20px;
    background-image: url("../assets/img/fondonegro.jpg");
    background-repeat: round;
    font-family: "IM Fell DW Pica";
    color: white;
    font-size: 25px;
    width: 90%;
    border-bottom: 50px solid black; }
  input,
  textarea,
  select {
    font-family: "IM Fell";
    font-weight: 10px;
    border-radius: 20px;
    background-color: #a12222;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }

* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

.footer_img--posicion {
  widht: 30px;
  height: 30px;
  margin: 0px 20px; }

.footer_leetralogo--posicion-padre {
  display: flex;
  justify-content: center; }

@media only screen and (min-width: 1024px) {
  .footer_div--decoracion {
    background-image: url("../assets/img/fondofooterr.jpg");
    widht: 100%;
    height: 200px; }
  .footer_leetralogo--posicion {
    widht: 70px;
    height: 70px;
    display: flex;
    margin: 30px; }
  .footer_redes--posicion {
    display: flex;
    justify-content: center;
    margin: 20px 20px; }
  .classfooterLi {
    list-style: none;
    font-size: 25px; }
  .classfooterUl {
    display: flex;
    flex-direction: row; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .footer_div--decoracion {
    background-image: url("../assets/img/fondofooterr.jpg");
    widht: 100%;
    height: 300px; }
  .footer_leetralogo--posicion {
    widht: 40px;
    height: 40px;
    display: flex;
    margin: 10px; }
  .footer_redes--posicion {
    display: flex;
    justify-content: center;
    margin: 5px 10px; }
  .classfooterLi {
    list-style: none;
    font-size: 16px; }
  .classfooterUl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; } }

* {
  margin: 0%; }

body {
  background-image: url("../assets/img/fonfoblanco.jpg"); }

@media only screen and (min-width: 1024px) {
  .gridContainerPadre {
    display: grid;
    grid-template-areas: "header header header  " "main main main  " "footer footer footer ";
    grid-template-rows: 110px auto 200px;
    grid-template-columns: 25% auto 25%; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridContainerPadre {
    display: grid;
    grid-template-areas: "header  " "main   " "footer";
    grid-template-rows: 110px auto 200px;
    grid-template-columns: 100%; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex; } }

@media only screen and (min-width: 1024px) {
  .gridContainerPadreCervezas {
    display: grid;
    grid-template-areas: "header header header" "section section section" "footer footer footer";
    grid-template-rows: 110px auto 200px;
    grid-template-columns: repeat(3, 503px); }
  header {
    grid-area: header; }
  section {
    grid-area: section; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridContainerPadreCervezas {
    display: grid;
    grid-template-areas: "header" "section" "footer";
    grid-template-rows: 110px auto 300px;
    grid-template-columns: 100%; }
  header {
    grid-area: header; }
  section {
    grid-area: section; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: column; } }

@media only screen and (min-width: 1024px) {
  .gridContainerPadreSucursales {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-row: 110px auto 200px;
    grid-column: repeat 3, 1fr; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridContainerPadreSucursales {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-row: 110px auto 200px;
    grid-column: 100%; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media only screen and (min-width: 1024px) {
  .gridContainerPadreCarta {
    display: grid;
    grid-template-areas: "header header header" "section section section" "footer footer footer";
    grid-template-columns: repeat(3, 33, 33%);
    grid-template-rows: 110px auto 200px; }
  header {
    grid-area: header; }
  section {
    grid-area: section; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: column; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridContainerPadreCarta {
    display: grid;
    grid-template-areas: "header header header" "section section section" "footer footer footer";
    grid-template-columns: repeat(3, 33, 33%);
    grid-template-rows: 110px auto 200px; }
  header {
    grid-area: header; }
  section {
    grid-area: section; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    justify-content: center;
    flex-direction: column; } }

@media only screen and (min-width: 1024px) {
  .gridContainerPadreContacto {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: repeat(3, 33, 33%);
    grid-template-rows: 110px auto 200px; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  .gridContainerPadreContacto {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 110px auto 300px; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .flex {
    display: flex;
    justify-content: center; } }
