$bordo: rgb(146, 0, 0);
$medidas: (
  desktop: 1024px,
  minimomobile: 0px,
  maximomobile: 768px,
);
@mixin anchoyalto($widht, $height){
  widht:$widht;
  height: $height;
}
* {
  margin: 0%;
}
body {
  background-image: url("../assets/img/fonfoblanco.jpg");
}
@media only screen and (min-width:map-get($medidas,minimomobile)) and(max-width:map-get($medidas,maximomobile)) {
  .main_section--titulos {
    font-size: 20px;
    color: rgb(146, 0, 0);
    font-weight: bold;
    font-family: "Arvo" !important;
    display: flex;
    align-items: center;
  }
  h2 {
    margin: auto;
  }
  .main_div--parrafopresentacion {
    font-family: "IM Fell DW Pica", serif;
    font-size: 20px;
    margin: 5px 10px 5px 0px;
    flex-wrap: wrap;
  }
  .main_section{
    background-image: url("../assets/img/buzo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include anchoyalto (100%,400px);
    margin:0% !important;
    border:0px !important;
  }
  .main_section--iframe {
    display: flex;
    justify-content: center;
    margin-left: -1px;
    margin-right: -1px;
  }
}
@media only screen and (min-width: map-get($medidas, desktop)) {
  .main_section--titulos {
    font-size: 50px ;
    color: rgb(146, 0, 0);
    font-weight: bold;
    font-family: "Arvo";
    display: flex;
    align-items: center;
  }
  h2 {
    margin: auto;
  }
  .main_div--parrafopresentacion {
    font-family: "IM Fell DW Pica", serif;
    font-weight: bold;
    font-size: 30px;
  }
  .main_section{
    background-image: url("../assets/img/buzo.jpg") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 610px;
    width: 100% !important;
    border: 0px !important;
    margin: 0px !important;
  }
  .main_section--iframe {
    margin-left: -15px !important;
    display: flex;
    justify-content: center;
    background-image: url("../assets/img/fondocarta.jpg");
    transform: skewX(0deg) !important;
    transition: margin 3s;
  }
  .main_section--iframe:hover {
    margin: 50px;
  }
}
