$medidas: (
  desktop: 1024px,
  minimomobile: 0px,
  maximomobile: 768px,
);
@media only screen and (min-width: map-get($medidas, desktop)) {
  .div_h3--decoracion {
    font-size: 40px;
    color: rgb(146, 0, 0);
    font-weight: bold;
    font-family: "IM Fell DW Pica";
    display: flex;
    justify-content: center;
    margin-left: -10px !important;
  }
  .div_text--decoracion {
    text-align: center;
    width: 70%;
    margin-left: 250px;
    font-size: 25px;
    font-weight: bold;
    color:black;
    font-family: "Lobster";
    border-radius: 200px;
    background-color: grey;
  }
  @keyframes sucursales {
    0% {
      width: 100%;
    }
    50% {
      transform: rotateY(50deg);
    }
    100% {
      width: 100%;
    }
  }
  .div_img--posicion {
    border: solid black 5px;
    border-radius: 250px;
    background-image: url("../assets/img/fondonegro.jpg");
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin: 10px;
    animation-name: sucursales;
    animation-duration: 2s !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in;
    margin-left: -20px !important;
  }
}
@media only screen and (min-width: map-get($medidas,minimomobile)) and(max-width:map-get($medidas,maximomobile)) {
  .div_h3--decoracion {
    font-size: 20px;
    color: rgb(146, 0, 0);
    font-weight: bold;
    font-family: "IM Fell DW Pica";
    display: flex;
    justify-content: flex-start;
    margin: 5px;
  }
  .div_text--decoracion {
    margin-left: 50px;
    width: 70%;
    font-size: 15px;
    font-weight: bold;
    color:black;
    font-family: "Lobster";
    border-radius: 20px !important;
    background-color: grey;
    text-align: center;
  }
  @keyframes sucursales {
    0% {
      width: 100%;
    }
    50% {
      transform: rotateY(50deg);
    }
    100% {
      width: 100%;
    }
  }
  .div_img--posicion {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 350px;
    margin-left: -272px !important;
    animation-name: sucursales;
    animation-duration: 2s !important;
    animation-iteration-count: 1 !important;
    animation-timing-function: ease-in;
  }
}
