
$colores: (
bordo: rgb(146, 0, 0),
gris: rgb(179, 172, 172),
negro: rgb(0, 0, 0),
anaranjado: orangered,
blanco: white,
);
$medidas: (
  desktop: 1024px,
  minimomobile: 0px,
  maximomobile: 768px,
);
* {
  margin: 0%;
}
body {
  background-image: url("../assets/img/fonfoblanco.jpg");
}
a {
  text-decoration: none;
  color: map-get($colores,gris);
  font-weight: bold;
  font-family: "Lobster";
  transition: color;
}
a:hover {
  color: map-get($colores,bordo);
}
@media only screen and (min-width: map-get($medidas, desktop)) {
  .classNavUl {
    list-style-type: none;
    position: relative;
    top: -30px;
    left: -5px !important;
    margin-left:400px;
    padding: 0px;
    display: flex;
    justify-content: center !important;
    display: inline-block !important;
  }
  .classNavLi {
    font-size: 30px;
    color:map-get($colores,gris);
    list-style: none;
    padding: 10px;
    margin-top:10px !important;
    display:inline-block !important;
    display:flex;
    justify-content:center;
  }
  .header--position {
    background-color: map-get($colores,negro);
    height: 110px;
    width: 100%;
    border-bottom: 5px solid  map-get($colores,blanco);
  }
  .div_img--border {
    margin: -7px 0px 5px 640px;
    border-radius: 300px !important;
    width:7%;
  }
}
@media only screen and (min-width:map-get($medidas,minimomobile)) and(max-width:map-get($medidas,maximomobile)){
  .classNavUl {
    list-style-type: none;
    margin: 0px !important;
    position: relative;
    top: -25px;
    left: -5px !important;
    padding: 0px;
    display: flex;
    justify-content:center !important;
  }
  .classNavLi {
    font-size: 15px!important;
    color:map-get($colores,gris);
    list-style: none;
    padding: 10px;
    margin: 10px 0px 0px 0px;
  }
  .header--position {
    background-color: map-get($colores,negro);
    height: 110px;
    width: 100%;
    top: 0;
  }
  .div_img--border {
    margin: 10px 0px 5px 140px;
    border-radius:5px !important;
    height: 60px;
  }
}